
 header{
   width:100%;
   position:absolute;
   top:0px;
   left:0px;
   z-index:100;
   height:50px;
 }
 header.colored {
   background: -moz-linear-gradient(-45deg, #52AEFB 0%, #52DEFB 99%); /* FF3.6-15 */
 background: -webkit-linear-gradient(-45deg, #52AEFB 0%,#52DEFB 99%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(135deg, #52AEFB 0%,#52DEFB 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52AEFB', endColorstr='#52DEFB',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 position:relative;

 }
 header > a > img{
   height:30px;
   margin-top:10px;
   margin-left:10px;
 }


 header > .rightlinks{
   float:right;
   width:50%;
   padding-right:20px;
}

header > .rightlinks > a{
  height:30px;
  margin-top:10px;
  margin-right:10px;
  box-sizing: border-box;
  padding-top:3px;
  color:white;
  float:right;
  font-family: "Lato", Arial, Tahoma;
  font-size:14px;
}

.newclass{
  float: right;
padding: 5px 10px;
background-color: #52AEFB;
color: white;
border-radius: 5px;
margin: -4px;
font-size: 13px;
display: inline-block;
}

.classblock{
  width: 30%;
  margin: 1.5%;
  box-sizing: border-box;
  border:1px #444 dotted;
  border-radius:10px;
  cursor:pointer;
  float:left;
  display: inline-block;
  padding-top:10px;
  padding-bottom:10px;
}

.classblock > h1{
  width:100%;
  padding-left:10px;
  box-sizing: border-box;
  font-size:18px;
  margin-top:4px;
  margin-bottom: 4px;
}

.classblock > h2{
  width:100%;
  padding-left:10px;
  box-sizing: border-box;
  font-size:14px;
  margin-top:4px;
  margin-bottom: 4px;
}


.searchnotice{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #52AEFB;
    font-size: 12px;
    display: inline-block;
    position: relative;
}

.searchnotice .fa-close{
  position: absolute;
  top:3px;
  left:2px;
  cursor: pointer;
  font-size:12px;
  color:white;
}

section[name="qanda"]{
  width:100%;
  height:calc(100vh - 100px);
  display:inline-block;
  overflow: hidden;
  position: relative;
  font-family: 'Raleway','Lato','Mukta Vaani';
}

section[name="qanda"].user{
  height:calc(100vh - 50px);
}

section[name="qanda"] .correct{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    border: 2px #ddd solid;
    padding: 2px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 4px;
    color: #bbb;
    cursor:pointer;
}



.tag {
    float: left;
    padding: 3px;
    background-color: #52AEFb;
    color: white;
    border-radius: 3px;
    padding: 1px 6px;
    margin: 0px 3px;
    margin-top: 4px;
    cursor:pointer;
    font-size:11px;
}

.pane .tag {
    font-size:14px;
    cursor: default;
}

.correct.chosen{
  color:#CAE19B !important;
  border-color:#CAE19B !important;
}

section[name="qanda"] > .questions{
  width:25%;
  height:calc(100vh - 50px);
  display:inline-block;
  border-right:1px #ddd solid;
  box-sizing: border-box;
  float:left;
  overflow-y:scroll;

}

section[name="qanda"] > .questions > .mainbar{
  width:100%;
  height:auto;
  border-bottom: 1px #ddd solid;
  box-sizing: border-box;
  padding:3px;
  display:inline-block;
  float:left;
  padding-bottom:5px;
}

section[name="qanda"] > .questions > .displayoptions {
    display: inline-block;
    width: 100%;
    background-color: white;
    text-align: left;
    font-size: 11px;
    border-bottom:1px #ddd solid;
    padding: 3px;
    /* font-family: "Lato"; */
}

section[name="qanda"] > .questions > .displayoptions > a{
  margin-left:5px;
  cursor: pointer;
}

section[name="qanda"] > .questions > .displayoptions > a.chosen{
  font-weight:bold;
}

section[name="qanda"] > .questions > .mainbar > .button{
  padding:2px;
  border:1px #ddd solid;
  border-radius:3px;
  float:right;
  margin-right:4px;
  padding-left:4px;
  padding-right:4px;
  font-size:12px;
  color:#bbb;
  margin-top:3px;
  cursor:pointer;
}

section[name="qanda"] > .questions > .mainbar > .button:hover{
  opacity:.8;
}

section[name="qanda"] > .questions > .mainbar > input {
border-radius: 3px;
border: 1px #ddd solid;
margin-top: 2px;
margin-left: 2px;
padding-left: 3px;
}

section[name="qanda"] > .questions > .mainbar > .button.chosen{
  background-color:black;
  color:white;
  border-color:black;
}

section[name="qanda"] > .questions > .mainbar > .button.chosen:hover{
  opacity:1;
}

section[name="qanda"] .question{
  width:100%;
  height:auto;
  border-bottom: 1px #ddd solid;
  cursor:pointer;
  display:inline-block;
  line-height:18px;
  float:left;
  overflow: hidden;

}

section[name="qanda"] .question.chosen{
  background-color:#222;
}

section[name="qanda"] .question > h1{
  font-size:18px;
  font-weight:300;
  font-family:#bbb;
  margin-top:6px;
  margin-bottom:1px;
  width:90%;
  overflow: hidden;
  max-height: 38px;
  padding-left:12px;
}

section[name="qanda"] .question > h2{
  font-size:12px;
  font-weight:400;
  font-family:#bbb;
  margin-top:3px;
  margin-bottom:1px;
  padding-left:12px;
  width:100%;
  box-sizing: border-box;
  color:#888;
  min-height: 32px;
}

section[name="qanda"] .question > h3{
  font-size:12px;
  font-weight:400;
  font-family:#bbb;
  margin-top:3px;
  margin-bottom:6px;
  padding-left:12px;
  width:100%;
  box-sizing: border-box;
  color:#bbb
}

section[name="qanda"] .question.chosen h1{
  color:white;
}

section[name="qanda"] .question.chosen h2{
  color:white;
}

section[name="qanda"] .question.chosen h3{
  color:white;
}
section[name="qanda"] .question > h3 > span{
  color: #CAE19B;
}


section[name="qanda"] > .main{
  width:75%;
  height:calc(100vh - 50px);
  display:inline-block;
  box-sizing: border-box;
  overflow:scroll;

  float:left;
  min-height:calc(100vh - 50px);
  position:relative;
  display:none;

}

section[name="qanda"] > .main > h1{
  font-size:22px;
  font-weight:400;
  width:96%;
  margin-left:2%;
  margin-top:10px;
  margin-bottom:2px;
}
section[name="qanda"] > .main > h2{

font-size: 11px;
    margin-left: 19px;
    margin-top: 0px;
    margin-bottom: 2px;
}
section[name="qanda"] > .main > h1 > span{
  color:#ff6632;
  border:1px #ff6632 solid;
  font-size:16px;
  width:25px;
  height:25px;
  text-align:center;
  box-sizing: border-box;
  padding-top:0px;
  display:inline-block;
  border-radius:3px;
  margin-left:5px;
}

section[name="qanda"] > .main > h1 > span:hover{
  opacity:.7;
  cursor:pointer;
}

section[name="qanda"] > .main  p{
  font-size:12px;
  font-weight:400;
  width:96%;
  margin-left:2%;
  margin-top:2px;
  margin-bottom:2px;
}

section[name="qanda"] > .main div[equation]{
  padding-left:0px;
  margin-left:0px;
  margin-left:2%;
  margin-top:0px;
}

section[name="qanda"] > .main .answer{
  box-sizing:border-box;
  padding:10px;
  padding-top:30px;
  font-size:12px;
  font-weight:400;
  width:96%;
  margin-left:2%;
  margin-top:25px;
  margin-bottom:12px;
  border:1px #ddd solid;
  position:relative;
  display:inline-block;
  background-color:white;

}

section[name="qanda"] > .main  .answer > p{
  width:100%;
  margin-left:0px;
}

section[name="qanda"] > .main  .answer > div{
  width:100%;
  margin-left:0px;
}

section[name="qanda"] > .main  .answer > .image{
  width:50px;
  height:50px;
  border:4px #ddd solid;
  position:absolute;
  z-index:40;
  top:-27px;
  left:10px;
  border-radius:100%;
  background-size:cover;
  background-position:center;
}

section[name="qanda"] > .main .answer .answer {
  background-color: #f6f6f6;
}

section[name="qanda"] > .main  .answer .answer > .image{
  width:35px;
  height:35px;
  top:-15px;
  left:6px;
}

section[name="qanda"] > .main  .answer > .author{
  position:absolute;
  top:2px;
  left:70px;
  font-size:14;
  color:#bbb;
}

section[name="qanda"] > .main  .answer > .stars{
  position:absolute;
  top:2px;
  right:2px;
  font-size:12px;
  color:#bbb;
  padding:2px;
  border:1px gold solid;
  width:auto;
  display:inline-block;
  padding-left:4px;
  padding-right:4px;
  border-radius:3px;
  color:gold;

}

section[name="qanda"] > .main > form{
  width:100%;
  bottom:0px;
  left:0px;
  height:100px;
  border:none;
  position:absolute;
  border-top:1px #ddd solid;
  padding:2px;
  box-sizing: border-box;

}

section[name="qanda"] > .main > form textarea{
  width:80%;
  border:none;
  border:1px #ddd solid;
  border-radius:4px;
  float:left;
  height:50px;

}

section[name="qanda"] > .main > .pane{
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
  height:calc(100vh - 50px);
  background-color:white;
  z-index:100;
  border-top: 1px #ddd solid;
}

section[name="qanda"] > .main > .pane > h1{
  font-size:18px;
  font-weight:400;
  color:#444;
  width:95%;
  margin-left:2.5%;
  margin-bottom:2px;
  margin-top:10px;
}

section[name="qanda"] > .main > .pane > h2{
  font-size:12px;
  font-weight:400;
  color:#444;
  width:95%;
  margin-top:0px;
  margin-left:2.5%;
}

section[name="qanda"] > .main form input{
  width:90%;
  margin-left:2.5%;
  margin-top:5px;
  border:1px #ddd solid;
  height:22px;
  font-size:13px;
  padding-left:4px;
  outline:none;
}


section[name="qanda"] > .main form textarea{
  width:90%;
  margin-left:2.5%;
  margin-top:5px;
  border:1px #ddd solid;
  height:20vh;
  resize:none;
  font-size:13px;
  padding-left:4px;
  outline:none;
}


section[name="qanda"] > .main .answer form textarea{
  height:10vh;
  width:97.5%;
  margin-left:1%;
}

section[name="qanda"] > .main form .result{
  width:90%;
  margin-left:2.5%;
  margin-top:5px;
  border:1px lightblue solid;
  height:33vh;
  resize:none;
font-size: 16px;
  padding-left:4px;
  outline:none;
  font-family:"Mukta Vaani","Lato";
      overflow:scroll;
}


section[name="qanda"] > .main .recommendations {
  width:96%;
  margin-left: 2%;
  margin-right: 2%;
}

section[name="qanda"] > .main .recommendations > p{
  font-size: 14px;
  width:100%;
  margin-left:0%;
  margin-right:0%;
  text-align: center;
  color:#52AEFb;
  margin-top:10vh;
}

section[name="qanda"] > .main .recommendations > .similars > .recommendation{
  width:46%;
  margin:2%;
  border:2px #52AEFB solid;
  border-style: dotted;
  padding:20px;
  float: left;
  box-sizing: border-box;
  font-size:14px;
}

section[name="qanda"] > .main .recommendations > .similars {
  height: 40vh;
  width:100%;
}

section[name="qanda"] > .main .recommendations > .submit{
  width:120px;
  height:40px;
  background-color:transparent;
  color:black;
  text-align: center;
  font-family: "Lato";
  padding:11px;
  box-sizing: border-box;
  font-size:12px;
  margin-left:calc(50% - 200px);
  cursor: pointer;
  float:left;
  margin-right:20px;
  border:2px black solid;
}

section[name="qanda"] > .main .recommendations > .submit + .submit{
  margin-left:0px;
  width:200px;
  background-color:black;
  color:white;
  border:none;

}

section[name="qanda"] > .main .answer form .result{
  height:20vh;
  width:97.5%;
  margin-left:1%;
      height: auto;
}

section[name="qanda"] > .main form .result div[equation]{
  margin-left:0px;
}

section[name="qanda"] > .main form .row{
  width:90%;
  margin-left:2.5%;
  margin-top:5px;
  border:0px lightblue solid;
  height:100px;
  resize:none;
  font-size:13px;
  padding-left:4px;
  outline:none;
}

section[name="qanda"] > .main .answer form .row{
  width:97.5%;
  margin-left:1%;
}

section[name="qanda"] > .main form .row input{
  width:auto;
  margin-left:0px;
  float:left;

}



section[name="qanda"] > .main form .row input[type="submit"]{
  float:right;
  padding:8px;
  padding-left:18px;
  padding-right:18px;
  font-size:10px;
  height:auto;
  background-color:black;
  color:white;
  font-weight:300;
  cursor:pointer;
}


section[name="qanda"] > .main form .row a{
  float:right;
  padding:8px;
  padding-left:18px;
  padding-right:18px;
  font-size:10px;
  height:auto;
  background-color:black;
  color:white;
  font-weight:300;
  cursor:pointer;
}

section[name="qanda"] > .main .answer form .row input[type="submit"]{

}

.addanswer{
  background-color:#94A6CE;color:white;font-size:24px;cursor:pointer;
  text-align:center;padding-top:3px;box-sizing:border-box;border-color:#6EC7FF;
}

.answer .answer .addanswer{
  font-size:16px;
  padding-top:1px;
}


.addanswer:hover{
  opacity:.7;
}

@media screen and (max-width:960px){
  header .name{display: none;}
  .class_dashboard > h1{
    font-size:16px;
    box-sizing: border-box;
    padding-top:10px;
    width:auto;
  }
  .class_dashboard > a{    min-width:60px;text-align:center;}
  .class_dashboard > a > span{
    display:none;
  }



}

@media screen and (max-width:660px){

  section[name="qanda"] > .main{
    width:100%;
    height:calc(100vh - 200px);
  }

  footer{
    display:none;
  }

  header{
    position:fixed;
  }

  section[name="qanda"] > .main{
    margin-top:240px;
  }

  .class_dashboard{
    position:fixed;
    top:60px;
    border-bottom:1px #ddd solid;
  }

  section[name="qanda"] > .questions{
    width:auto;
    max-height:120px;
    position:fixed;
    padding-top:30px;
    top:120px;
    left:0px;
    z-index:100;

  }
  section[name="qanda"] > .questions > .mainbar{
    width:100%;
    position:fixed;
    z-index:100;
    top:120px;
    background-color:white;
  }

  section[name="qanda"] > .main > h1{
    width:80%;
    font-size:16px;
  }

}

section[name="admin"]{
    width: 100%;
    height: 50px;
    background-color: #fefefe;
    box-sizing: border-box;
    padding: 14px;
    font-family: "Raleway", "Lato", Arial;
    box-shadow: 1px 1px #ddd;
}

section[name="admin"] > span{
  padding: 5px;
  border-radius: 2px;
  background-color:#eeeeee;
  font-family: "Consolas", "Monospace", "Arial";
}

.archive{
  padding-top: 2px !important;
color: #444 !important;
border-color: #444 !important;
width: auto !important;
margin-top:1px !important;
padding: 3px 6px;
font-family: "Lato";
}

section[name="qanda"] > .overlay{
  width:100%;
  height:calc(100vh - 100px);
  background-color:black;
  opacity:.5;
  z-index:120;
  position: absolute;
  bottom:0px;
  left:0px;
}

section[name="qanda"] > .settings{
  width:50%;
  position:absolute;
  bottom:0px;
  right:10%;
  background-color:white;
  min-height: 50px;
  z-index:121;
  cursor: pointer;
}

section[name="qanda"] > .settings > h1{
  width:100%;
  height:50px;
  background-color:black;
  color:white;
  margin-top:0px;
  margin-bottom:0px;
  font-family: "Lato";
  font-size:14px;
  padding:17px;
  box-sizing: border-box;

}

section[name="qanda"] > .settings > h1 > i{
  float:right;
  font-size:18px;
}

section[name="qanda"] > .settings > .body{
  width:100%;
  margin-bottom:30px;
  min-height: 60vh;
}

section[name="qanda"] > .settings > .body > .menu{
  width:100%;
  height: 60px;
  border-bottom:1px #ddd solid;
}

section[name="qanda"] > .settings > .body > .menu > .blocks{
  height:60px;
  float:left;
  width:auto;
  box-sizing: border-box;
  color:#52AEFB;
  font-size:16px;
  padding:17px 24px;
}

section[name="qanda"] > .settings > .body > .menu > .blocks.chosen{
  border-bottom:4px #52AEFB solid;
}

section[name="qanda"] > .settings > .body > .architecture {
  width:100%;
  padding-left:24px;
  box-sizing: border-box;
  display: inline-block;
  padding-right:24px;
}

section[name="qanda"] > .settings > .body > .architecture > .user{
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  border: 3px #eee solid;
  padding: 14px 12px;
  border-radius: 3px;
  margin-bottom:8px;
  display: inline-block;

}

section[name="qanda"] > .settings > .body > .architecture > .user > span{
  width:33%;
  float:left;
}

section[name="qanda"] > .settings > .body > .architecture > .user > i{
  float: right;
  font-size: 18px;
  color: #ddd;
  border: #ddd 2px solid;
  border-radius: 2px;
  width: 26px;
  padding-top: 2px;
  height: 26px;
  margin-top: -1px;
  text-align: center;
}

section[name="qanda"] > .settings > .body > .architecture > .user > i:hover{
  opacity:.6;
  cursor: pointer;
}

section[name="qanda"] > .settings > .body > .architecture > h1{
  font-size:18px;
  margin-bottom: 10px;
}

section[name="qanda"] > .settings > .body > .architecture > .options{
  font-size:14px;
  width:100%;
}

section[name="qanda"] > .settings > .body > .architecture > .options > .box{
  float:left;
  border-radius:5px;
  height: 19px;
  width:19px;
  border:3px #ddd solid;
  line-height: 11.5px;
}

section[name="qanda"] > .settings > .body > .architecture > .options > .box.chosen{
  background-color:#52AEFB;
}

section[name="qanda"] > .settings > .body > .architecture > .options > .box.chosen:before{
  content: "\2713";
  color:white;
  margin-left:1px;
  font-size:11px;
  text-align:center;
  width:100%;
  display: inline-block;
}

section[name="qanda"] > .settings > .body > .architecture > .options > .label{
  float:left;
  color:#888;
  font-size:14px;
  margin-top:0px;
  margin-right:14px;
  height: 19px;
}

section[name="mainfeatures"]  {
  width:100%;
  height:calc(100vh - 100px);
  background-image:url('/pc-1207686_1920.jpg');
  background-size:cover;
  background-position: left;
  display:inline-block;
}

section[name="mainfeatures"] > h1 {
  font-size:56px;
  font-weight:400;
  width:85%;
  margin-left:7.5%;
  font-family: "Raleway";
  margin-top:10vh;
  color:#888;
  line-height: 2em;
  position: relative;
  z-index:1;
}

section[name="mainfeatures"] > h1 > mark{
  background-color:white;
}

section[name="mainfeatures"] + section {
  width: 100%;
  margin-top: -139px;
  z-index: 2;
  height: 80vh;
  position: relative;
  background-image: url(/gradient.png);
  background-size: cover;
}

section[name="mainfeatures"] + section > div {
  width: 85%;
      margin-left: 7.5%;
      height: 50vh;
      margin-top: 12vh;
      border-radius: 10px;
      background-color: white;
      display: inline-block;
}

section[name="mainfeatures"] + section > div > h1 {
  width:40%;
  margin-left:30%;
  font-size:14px;
  font-family:"Raleway", "Lato";
  color:#444;
  text-align: center;
  margin-top:40px;
}

section[name="mainfeatures"] + section > div > div.triad{
  width:33.33%;
  float:left;
  min-height:40vh;
  text-align: center;
  padding:10px;
  box-sizing: border-box;
}

section[name="mainfeatures"] + section > div > div.triad > i{
  width:100%;
  text-align:center;
  font-size:36px;
  color:#bbb;
}

section[name="mainfeatures"] + section > div > div.triad > h1{
  font-size:14px;
  width:100%;
  text-align:center;
}


section[name="mainfeatures"] + section > div > div.triad > p{
  font-size:12px;
  width:100%;
  text-align:left;
  width:80%;
  margin-left:10%;
}

section[name="mainfeatures"] + section + section{
  width:100%;
  height:50vh;
  display:inline-block;
}

section[name="mainfeatures"] + section + section > a{
  display: inline-block;
  cursor: pointer;
  width: 200px;
  height: 60px;
  margin-left: calc(50% - 100px);
  background-color: #52AEFB;
  font-size: 15px;
  text-align: center;
  color: white;
  border-radius: 4px;
  padding-top: 19px;
  margin-top: 15vh;
  text-decoration: none;
}

.admin {
  background-color:#FBEAB0 !important;
}

.admin.chosen {
  background-color:#111 !important;
}
